@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    font-family: 'Poppins', sans-serif;


}
.cover{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

      background: url('https://datcyx.github.io/resume/images/cover.svg') no-repeat center center;
    background-repeat: repeat-y;
    image-rendering: crisp-edges;

 background-size: 100%;
 width: 100%;
 -ms-interpolation-mode: nearest-neighbor;
    height: 430px;
}

.profpic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid rgb(34, 10, 255);
    float:left;
}
.proff{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    float:left;
    width:200px;
    border-radius: 50%;
}
.name{
    position: absolute;
    top: 57%;
    left:50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width:337px;
    border-radius: 50%;
    right:50%;
}
.name h1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: rgb(97, 71, 247);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width:337px;
    border-radius: 50%;
}
.downsection{
    position:absolute;
    top:68%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100vw;
    -ms-interpolation-mode: nearest-neighbor;
    height: 100vw;

}
.name h5{
    position: absolute;
   font: size 10px;
   left:14%;
   top:66px;
   color: rgb(97, 71, 247);
}
.name h5 img{
    width:20px;
  
}
.downsection h5{
    position: absolute;
    top: 0%;
    left:52%;
    transform: translate(-50%, -50%);
    color: rgb(97, 71, 247);
    font-size: 14px;
    font-weight: 600;
    width:327px;
    border-radius: 50%;
    font-family: 'Bebas Neue', cursive;
    text-align:center;
}
.title{
    position: absolute;
    top: 0%;
    transform: translate(-50%, -50%);
    background-color: rgb(97, 71, 247);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width:127px;
    border-radius: 1px;
    padding:5px;
    color:white;
    animation: anim 1s 0.5s ease-in;
    animation-iteration-count: infinite;
    transition: all;
    
   
}
.skilltab{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(97, 71, 247);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width:100%;
    border-radius: 1px;
    padding:5px;
    background-color: rgb(6, 102, 247);
    color:white;
    height:500px
}
.skilltab h5{
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(7, 111, 247);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width:100%;
    border-radius: 1px;
    padding:5px;
    height:500px
   
}
.JAVA{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:250px;
    height:36px;
    color: rgb(7, 111, 247);
   
}
.PHP{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:250px;
    height:36px;
    color: rgb(7, 111, 247);
   
}

.javal{
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:350px;
    height:36px;
   
}

.phpl{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:250px;
    height:36px;
}
.py{
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
   width:250px;
    height:36px;
}
.python{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:250px;
    height:36px;
    color: rgb(7, 111, 247);
   
}
.cs{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:350px;
    height:36px;
}
.cc{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    width:250px;
    height:36px;
    color: rgb(7, 111, 247);
}

/*desktop*/

@media screen and (min-width: 768px) {
    .title{
        position: absolute;
        top: 0%;
        left:38%;
        transform: translate(-50%, -50%);
        background-color: rgb(97, 71, 247);
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width:127px;
        border-radius: 1px;
        padding:5px;
        bac
        
        
       
    }
    .cover{
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;

          background: url('/images/cover.svg') no-repeat center center;
        background-repeat: repeat-y;
        image-rendering: crisp-edges;
    
     background-size: 100%;
     width: 100vw;
     -ms-interpolation-mode: nearest-neighbor;
        height: 430px;
    }
    .downsection{
        position:absolute;
        top:50%;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        width: 100vw;
        -ms-interpolation-mode: nearest-neighbor;
        height: 100vw;
        width:100%;
        display:block;
    }
    .name h5{
        position: absolute;
       font: size 10px;
       left:25%;
       top:50px;
       color: rgb(97, 71, 247);
    }
    .name h5 img{
        width:20px;
      
    }
    .downsection h5{
        font-size:32px;
        font-family: 'Bebas Neue', cursive;
    }
    .name h1{
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
        color: rgb(72, 101, 230);
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        width:337px;
        border-radius: 50%;
    }
    .profpic{
        width: 210px;
        height: 210px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 14%;
        transform: translate(-50%, -50%);
        border: 6px solid rgb(9, 45, 248);
        float:left;
    }
    .name{
        position: absolute;
        top: 39%;
        left: 49%;
        transform: translate(-50%, -50%);
        color: rgb(245, 245, 245);
        font-size: 30px;
        font-weight: 600;
        float:left;
        width:546px;
        border-radius: 50%;
    }
    .proff{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        float:left;
        border-radius: 50%;
    }
    .skilltab{
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(97, 71, 247);
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width:507px;
        border-radius: 1px;
        padding:5px;
        background-color: rgb(6, 102, 247);
        color:white;
        height:500px
    }
    .skilltab h5{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(7, 111, 247);
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width:507px;
        border-radius: 1px;
        padding:5px;
        height:500px
       
    }
    .JAVA{
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
        color: rgb(7, 111, 247);
       
    }
    .PHP{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
        color: rgb(7, 111, 247);
       
    }

    .javal{
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
       
    }
 
    .phpl{
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
    }
    .py{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
    }
    .python{
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
        color: rgb(7, 111, 247);
       
    }
    .cs{
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
    }
    .cc{
        position: absolute;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        width:350px;
        height:36px;
        color: rgb(7, 111, 247);
    }
   
}

@keyframes anim{
    0%{
        background-color:rgb(20, 187, 238);color: rgb(248, 248, 248);
    }
    100%{
        color:rgb(255, 255, 255);background-color: rgb(7, 111, 247);
    }
}
